<div id="homePage">
	<div id="introBoxTitle">
		<br/><h1>Welcome to the Historic Elizabeth Community Portal!</h1>
		
		</div>
			<div id="introBox">
		<p>
			This is a portal for the township of Elizabeth, Pennsylvania. This place is to inform visitors and local residents about city information, local businesses, and community events.You can view a calendar of ongoing events <a href="/calendar">here</a>, or by clicking on the 'Calendar' link above.You can also search an index to find local businesses or organizations under the 'Community Directory' link.</p>
			<p> If you are a local business or organization, you can sign up 
			and create events which will appear on the calendar. Click below to register!</p>
			<br/>
		
			<a href="/signup"><img src="/images/signup_button.png", border="0"></a>
		</div>
	</div>